<ng-container *ngIf="!notFound">
  <top-bar [loading]="loading" [board]="board" (boardDelete)="deleteBoard($event)"></top-bar>
  <div #sectionsContainer cdkDropListGroup class="sections-container">
    <ng-container *ngIf="!loading; else loadingTemplate">
      <section *ngFor="let section of sections"
                [section]="section"
                (sectionDelete)="deleteSection($event)"></section>
  
      <div class="empty-section">
        <ng-container *ngIf="addingSection">
          {{ ensureBodyScrollEnd() }}
          <mat-form-field class="block">
            <input autoFocus matInput placeholder="New section" (blur)="onBlurOrEnter()"
                   (keyup.enter)="onBlurOrEnter(true)" [(ngModel)]="newSectionName" />
          </mat-form-field>
        </ng-container>
  
        <button *ngIf="!addingSection" class="add-section-button" (click)="setAddingSection(true)">
          <mat-icon>add</mat-icon>
          <span>Add Section</span>
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <div class="section-loading-skeleton"></div>
</ng-template>

<board-not-found *ngIf="!loading && notFound"></board-not-found>