<ng-container *ngIf="board$ | async as board; else boardLoading">
  <top-bar [board]="board"></top-bar>

  <div cdkDropListGroup class="sections-container">
    <section *ngFor="let section of board.sections" [section]="section"></section>

    <div class="empty-section">
      <ng-container *ngIf="addingSection">
        <mat-form-field class="block">
          <input autoFocus matInput placeholder="New section" [(ngModel)]="newSectionName" />
        </mat-form-field>
      </ng-container>

      <button *ngIf="!addingSection" class="add-section-button">
        <mat-icon>add</mat-icon>
        <span>Add Section</span>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #boardLoading>
</ng-template>