<div class="section-header">
  <h3 class="section-title">{{ section.name }}</h3>
  
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <button [disabled]="addingTask" mat-icon-button matTooltip="Add Task" (click)="setAddingTask(true)">
    <mat-icon>add</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>edit_outline</mat-icon>
      <span>Rename section</span>
    </button>
    <button mat-menu-item (click)="sectionDelete.emit(section)">
      <mat-icon>delete_outline</mat-icon>
      <span>Delete section</span>
    </button>
  </mat-menu>
</div>

<div cdkDropList [cdkDropListData]="section.tasks" (cdkDropListDropped)="drop($event)" class="tasks-container">
  <task *ngFor="let task of tasks" [task]="task" cdkDrag (taskDelete)="deleteTask($event)"></task>

  <ng-container *ngIf="addingTask">
    <div class="new-task">
      <mat-form-field class="block">
        <input autoFocus matInput placeholder="Write a task name" (blur)="onBlurOrEnter()"
             (keyup.enter)="onBlurOrEnter(true)" [(ngModel)]="newTaskName" />
      </mat-form-field>
    </div>
  </ng-container>
</div>
