<div class="bankan-icon-container">
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="64" height="31.4" viewBox="0 0 64 31.4">
    <polygon style="fill:#1a73e8" points="64 0 42.66 31.4 21.34 0 42.66 15.7 64 0" />
    <polygon style="fill:#fff" points="42.66 31.4 21.34 15.7 0 31.4 21.34 0 42.66 31.4" />
  </svg>
</div>

<!-- Board Groups -->
<ng-container *ngIf="boardGroups; else loadingBoardGroups">
  <div *ngFor="let boardGroup of boardGroups" class="board-group">
    <div class="board-group-header">
      <span>{{ boardGroup.name }}</span>
      <div class="board-group-actions">
        <button mat-icon-button
                [matTooltip]="'New board'"
                (click)="openNewBoardDialog(boardGroup.id)"
                class="add-board-button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- Boards -->
    <a *ngFor="let board of boardGroup.boards"
       routerLink="boards/{{board.id}}"
       routerLinkActive="active"
       matRipple
       class="board">
      {{ board.name }}
    </a>
  </div>
</ng-container>

<!-- Log out Button -->
<button mat-icon-button matTooltip="Log out" class="logout-button" (click)="logout()">
  <mat-icon>logout_outline</mat-icon>
</button>

<!-- TEMPLATES -->
<ng-template #loadingBoardGroups>
  <div *ngFor="let _ of [0, 1, 2]" class="board-groups-loading-skeleton"></div>
</ng-template>